@media only screen and (max-width: 600px) {
    nav h3 {
        font-size: 20px;
    }

    nav li {
        font-size: 14px;
    }

    nav li:hover {
        font-size: 16px;
    }

    .hero {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero-text {
        text-align: center;
    }

    .hero-text h1 {
        font-size: 56px;
        text-shadow: none;
    }

    .hero-banner img {
        border-radius: 10px;
    }

    .tourbox {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        text-align: center;
        padding: 30px;
    }

    .card {
        margin: 0 auto;
        width: 350px;
        height: 480px;
    }

    .card img {
        height: 210px;
    }

    .card h2 {
        margin: 20px 0 10px 0;
    }

    .card p {
        font-size: 14px;
    }

    .card button {
        width: 30%;
        padding: 10px;
        font-size: 14px;
    }
}